.departments {
  margin-left: 10px;
  background: #f3f6f7;
  flex: 1;
}
.departments__title {
  line-height: 35px;
  font-size: 1.5rem;
  text-indent: 7px;
  color: #175765;
  font-weight: bold;
  background: #dbe3e4;
  margin-bottom: 21px;
}

// Search, add
.departments__function {
  height: 40px;
  display: flex;
  margin: 0 20px 20px;
}
.departments__btn-add {
  margin-left: 30px;
}
//

.departments__db,
.departments__db th,
.departments__db td {
  border: 1px solid #908d8d;
}

.departments__db {
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
  width: 100%;
}

.departments__db th,
.departments__db td {
  height: 50px;
}

.departments__db .table__index {
  width: 50px;
}
.departments__db thead {
  background: #6296c5;
  color: #fff;
}

.departments__input {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}
.departments__wrap-btn {
  width: 200px;
}
.departments__btn {
  padding: 10px 20px;
  font-weight: 800;
  color: #fff;
  background: #6296c5;
  border-radius: 5px;
}
.departments__btn:first-child {
  margin-right: 15px;
}

// Modal
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 100;
  transition: all 0.5s;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal__title {
  width: 590px;
  height: 70px;
  background: #6296c5;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1.05px;
  text-align: center;
  line-height: 7rem;
}
.modal__form {
  background-color: #fff;
  padding: 60px;
}
.modal__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  .modal__field {
    color: #000;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.7px;
    margin-right: 20px;
  }
  .modal__wrap-input {
    border-radius: 20px;
    border: 1px solid #000;
    background: #fff;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
  }
  input {
    width: 80%;
    height: 100%;
    font-size: 2rem;
  }
}

.modal__btns {
  display: flex;
  gap: 30px;
  justify-content: center;
  .modal__btn {
    width: 130px;
    height: 40px;
    border: 1px solid #000;
    background: #d9d9d9;
    color: #000;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.05px;
    font-family: Inter;
  }
}

.modal__message {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: red;
}
