.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 60rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 100;
  transition: all 0.5s;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.title {
  width: 100%;
  height: 70px;
  background: #6296c5;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1.05px;
  text-align: center;
  line-height: 7rem;
}
.form {
  background-color: #fff;
  padding: 60px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  .field {
    color: #000;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.7px;
    margin-right: 20px;
  }
  .wrap-input {
    border-radius: 20px;
    border: 1px solid #000;
    background: #fff;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
  }
  input {
    width: 80%;
    height: 100%;
    font-size: 2rem;
  }
}

.btns {
  display: flex;
  gap: 30px;
  justify-content: center;
  .btn {
    width: 130px;
    height: 40px;
    border: 1px solid #000;
    background: #d9d9d9;
    color: #000;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.05px;
    font-family: Inter;
  }
}

.message {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: red;
}

.wrap-details {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Chia thành 2 cột bằng độ rộng tự đều */
  gap: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  .details__title {
    color: #000;
    font-weight: 800;
    letter-spacing: 0.7px;
    display: inline-block;
  }
}

.custom {
  width: 80rem;
  max-width: 80rem;
}

.details__checkBox {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
}

.uploadFile {
  text-align: center;
  margin-bottom: 50px;
  span {
    font-weight: 800;
    font-size: 1.7rem;
    margin-right: 10px;
  }
}
