@import "normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  outline: none;
  border: none;
  border-color: transparent;
}
button {
  border: none;
  background: transparent;

  cursor: pointer;
  font-family: Inter;
}

a {
  text-decoration: none;
  color: inherit;
}
:root {
}

html {
  font-size: 62.5%;
}
body {
  font-family: Inter;
  margin: 0;
  font-size: 1.6rem;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
