@import "normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  outline: none;
  border: none;
  border-color: transparent;
}
button {
  border: none;
  background: transparent;
  margin-left: 5px;
  cursor: pointer;
  font-family: Inter;
}

a {
  text-decoration: none;
  color: inherit;
}
:root {
}

html {
  font-size: 62.5%;
}
body {
  font-family: Inter;
  margin: 0;
  font-size: 1.6rem;
}
