.login {
  background-image: url("../../assets/img/background-login.jpg");
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.form {
  background-color: #9152f8;
  width: 500px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 60px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}
.logo img {
  width: 120px;
  border-radius: 50%;
}

.title {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding-bottom: 34px;
  padding-top: 27px;
}

.wrap-input {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 35px;
}

.input {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}
.input:focus {
  padding-left: 5px;
}

.input:focus + .focus__icon {
  top: -22px;
  font-size: 18px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.input.hasVal {
  padding-left: 5px;
}
.input:focus ~ .focus-input::before {
  width: 100%;
}
.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #fff;
}

.focus__icon {
  font-size: 22px;
  color: #fff;
  display: block;
  position: absolute;
  top: 10px;
  left: 0px;
  padding-left: 5px;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input.hasVal + .focus__icon {
  top: -22px;
  font-size: 18px;
}

// Btn Đăng nhập
.btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-input {
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.btn-input:hover {
  color: #9152f8;
}

.message {
  font-size: 16px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
