.title {
  line-height: 35px;
  font-size: 1.5rem;
  text-indent: 7px;
  color: #175765;
  font-weight: bold;
  background: #dbe3e4;
  margin-bottom: 21px;
}

// Search, add
.function {
  height: 40px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

//

.data tr {
  border: 1px solid #908d8d;
}

.data {
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
  width: 100%;
  .column__functions {
    width: 150px;
    position: relative;
  }
}

.data th,
.data td {
  height: 50px;
}

.data .table__index {
  width: 50px;
}
.data thead {
  background: #6296c5;
  color: #fff;
}

.input {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}
.btn-more {
  position: relative;
}
.wrapper__btn {
  position: absolute;
  display: flex;
  gap: 15px;
  background-color: #6296c5;
  right: 23px;
  border-radius: 20px;
  z-index: 1;
}
.wrapper__btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -8px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* Độ rộng và màu cho cạnh trái */
  border-right: 8px solid transparent; /* Độ rộng và màu cho cạnh phải */
  border-bottom: 8px solid #6296c5;
}
.btn {
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
}
.btn-add {
  padding: 10px 20px;
  background-color: #6296c5;
  font-weight: 800;
}
// Modal
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 100;
  transition: all 0.5s;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal__title {
  width: 590px;
  height: 70px;
  background: #6296c5;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1.05px;
  text-align: center;
  line-height: 7rem;
}
.modal__form {
  background-color: #fff;
  padding: 60px;
}
.modal__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  .modal__field {
    color: #000;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.7px;
    margin-right: 20px;
  }
  .modal__wrap-input {
    border-radius: 20px;
    border: 1px solid #000;
    background: #fff;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
  }
  input {
    width: 80%;
    height: 100%;
    font-size: 2rem;
  }
}

.modal__btns {
  display: flex;
  gap: 30px;
  justify-content: center;
  .modal__btn {
    width: 130px;
    height: 40px;
    border: 1px solid #000;
    background: #d9d9d9;
    color: #000;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.05px;
    font-family: Inter;
  }
}

.modal__message {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: red;
}
